{% extends "base.html" %}

{% block title %}О проекте{% endblock %}

{% block header %}<h1>Информация об этом проекте</h1></br>{% endblock %}

{% block main %}
<p>Приветствую, пользователь, ты попал на сайт с информацией об этом проекте. В этом разделе я хочу рассказать почему этот проект вообще появился, когда он был создан, и на чём он был написан.</p></br>

<p>Собственно, хочу сначала сказать о том что этот проект был необходим для того чтобы продлить мой интерес к изучению бэкенда, так как я учился через нейросети. А учёба даже через такие нейросети как Chat GPT5, или DeepSeek - это непросто. Когда ты пишешь вроде бы и идеальный промпт, DeepSeek следует указаниям лучше, но информацию может давать скудную. У ChatGPT 5 наоборот, вроде и информацию он даёт хорошую, но отвлекается на - "А не хотите ли вы...", "Хочешь, что бы я...", хотя я ему пишу в промпте что он должен идти по плану - теория-задание-ревью, но он всё равно отвлекается. На данный момент написания этого абзаца 2025 год, 24 октября, я думаю начать учиться по документации flask'у, параллельно изучая SQL и связывая его с этим проектом, а затем уже когда изучу эти две вещи буду изучать css чтобы придавать хоть какую-то красоту своим сайтам.</p></br>

<p><b>1. Почему этот проект вообще появился?</b></p>

<p>Об этом я частично ответил в первом абзаце, но хочу прояснить это все в большей степени. Если вы программист, как и я, то вы это должны понять, или случайный пользователь зашедший на сайт тоже возможно меня поймёт - без какой-либо цели мозг перестаёт видеть надобность тратить на это силы, энергию, соответственно желание учиться и обучение пропадают, и тут не поможет сказать - "Но я же уже по ратил на это X времени, нельзя бросать!". Нужно дать мозгу цель, чтобы он понимал зачем ему делать это дальше, и я лично в программирование шёл без цели, держался без цели где-то 3 месяца, но вот сейчас уже выгорание пошло сильное, и поэтому дал цель мозгу в виде развития своего проекта самостоятельно.</p></br>

<p><b>2. Когда был создан этот проект?</b></p>

<p>Отвечу кратко - 2025 года, 24 октября, когда мне нечего было делать, да как впринципе и всегда.</p></br>

<p><b>3. На чём был написан этот проект?</b></p>

<p>Изначально этот проект писался на микрофреймворке Flask, выбрал я его потому что он простой, гибкий, + я только начал тогда заниматься бэкенду, и первая версия этого проекта была написана на следующий день после одного дня обучения Flask'у, jinja2 и базовому html 14ти часов подряд, так же для написания этого проекта я использовал шаблоны jinja2 с наследованием и flash сообщения, их вывод был через jinja2 шаблон, впринципе если хотите убедиться во всём мною сказанном просто скачайте исходный код и посмотрите сами шаблоны и пайтон код самого приложения.</p></br>

{% endblock %}