{% extends "base.html" %}

{% block title %}Раздел с достижениями{% endblock %}

{% block header %}<h1>Мои достижения</h1></br>{% endblock %}

{% block main %}
<p>Список моих достижений тут:</p></br>
<ol>
  <li>Начал обучение пайтону: август 2025 года</li>
  <li>Что выучил на данный момент: условия, циклы (while, for), списки, словари, множества, генераторы списков, словарей, множеств, функции (return, область видимости), ООП(не полностью, на данный момент знаю полиморфизм, абстрактные классы, инкапсуляция, @property, setter'ы, deleter'ы, немного магических методов - __str__, __len__, __getitem__, __contains). Контекстный менеджер with(делал свой файловый менеджер как open, но с фичей with - ппи окончании работы с файлом он закрывается. итераторы свои делал по типу range, генераторы и цепочки из генераторов, декораторы(ну последним был логер который собирал данные функции, аргументы, название, затем записывал эти данные в файл, ну и выводил их и в консоли тоже). try-except знаю.</li>
    <li><p>Что изучаю сейчас: микрофреймворк Flask и jinja2 постепенно, на данный момент этот сайт и находится на нём.</p></li>
    <li>Что в планах изучать: хотелось бы почитать документацию Flask, и затем параллельно изучать SQL(Работу с бд) и связывать Flask с SQL.</li>
</ol></br>

<p>Итак, сверху вы будете видеть список всему чему я на данный момент обучен, он будет обновляться когда я и буду обновлять сайт (я не буду сюда добавлять какую-то мелочь типа изучил пару методов в SQL, поэтому обновления этого списка думаю будут раз в 1.5 - 2 недели.)</p></br>
{% endblock %}
