{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block header %}<h1>Главная страница для навигации по сайту.</h1></br>{% endblock %}

{% block nav %}
<h2>Навигация по сайту:</h2></br>
<ol>
  <li><a href="achievements">Достижения</a></li>
  <li><a href="/contacts">Контакты</a></li>
  <li><a href="/about_project">О проекте</a></li>
  <li><a href="/register">Регистрация</a></li>
  <li><a href="/profile">Профиль</a></li>
  <li><a href="/logout">Выйти из аккаунта</a></li></br>
</ol>
{% endblock %}

{% block main %}
<p>Приветствую тебя, дорогой пользтватель. Это главная страница моего сайта, начало моего микро - проекта. Я буду учиться, и записывать сюда список того, чему я уже научился, а так же буду добавлять новые разделы, фичи и прочее на этот сайт, проще говоря - я буду учиться бэкенду, попутно модифицируя этот сайт и записывая мои достижения в раздел с достижениями.</p></br>
{% endblock %}

{% block nav_down %}
{% endblock %}